# Server configuration
server:
  port: 8080

# Spring configuration
spring:
# Connection configuration
  datasource:
    url: jdbc:mysql://localhost:3306/book
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    max-active: 10
    max-idle: 8
    min-idle: 8
    initial-size: 10
    validation-query: select 1
    test-on-borrow: true
    test-on-return: false

mybatis:
  config-location: classpath:/mybatis/mybatis-config.xml

logging.level.root: INFO
logging.level.mybatis.dao: TRACE